.schedule-parent-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: stretch;
  overflow: hidden;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 145px;
  align-content: center;
  flex-wrap: wrap;
}
