.register-container {
  display: grid;
  max-height: 800px;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  padding-top: 40px;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.dashboard-heading {
  color: rgba(64, 154, 159);
  text-align: center;
  padding-top: 40px;
  font-size: 22px;
}
