.register-heading {
  color: rgba(33, 33, 33, 0.8);
  text-align: center;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-heading h1 {
  margin-bottom: 40px;
}
