.Search {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Search__label,
.Search__button,
.Search__input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  background-color: transparent;
  color: rgba(33, 33, 33);
  font-weight: 500;
}

.Search__label {
  border: 1px solid rgba(64, 154, 159, 0.5);
  border-radius: 8px;
  width: 75%;
  position: relative;
}

.Search__input {
  width: 100%;
  padding: 0.75rem 0rem 0.75rem 1.75rem;
  font-weight: 700;
}

.Search__input::placeholder {
  opacity: 0.85;
}

.Search__button {
  padding: 0.75rem;
  font-weight: 700;
  background-color: rgba(64, 154, 159, 0.5);
  color: rgb(33, 33, 33);
  border-radius: 8px;
  margin-left: 10px;
  width: 25%;
  cursor: pointer;
}

.Search__button:hover {
  background-color: red;
}
