.weatherandforecast {
  display: flex;
  flex-direction: column;
  color: #0e0f10;
  padding: 2rem 3rem;
  border: 1px solid;
  max-width: 400px;
  text-align: center;
  border-radius: 20px;
  margin-left: auto; 
  margin-right: auto; 
}

.weatherandforecast-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

@media (max-width: 375px) {
  .WeatherAndForecast {
    padding: 2rem;
  }
}