/* .content-container {
  padding: 10%;
  height: 100vh;
  background-color: white;
  font-size: 10px;
} */
.center {
  margin-left: 100px;
  margin-right: 10px;
  width: 50%;
  padding: 10px;
}

.content-container {
  display: grid;
  grid-template-columns: 500px 500px; 
  grid-template-rows: 500px;
  grid-column-gap: 50px;
  
}

.left-panel-box {
  /* background: #f3ecec; */
  overflow: scroll;
}

.right-panel-box {
  /* background: #f3ecec; */
  overflow: scroll;
}

.box {
  margin: 30px;
  height: 100px;
  width: 400px;
  background-color: #f3ecec;
  overflow-wrap: break-word;
}

.p {
  color: rgb(13, 12, 12);
  margin: 1px;
  padding: 1px;
}

