.calendar,
.name,
.category {
  margin: 0 0 15px 0;
}

.submit {
  width: 120px;
  color: rgba(33, 33, 33);
  background-color: rgba(64, 154, 159, 0.5);
  margin: 15px 0 10px 0;
}

.schedule-container h2 {
  margin-bottom: 15px;
  color: rgb(33, 33, 33, 0.8);
}
