.content-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
  grid-column-gap: 50px;
}

.left-panel-box {
  background: rgba(64, 154, 159, 0.5);
  overflow: scroll;
  margin: 25px 50px 50px 50px;
  border-radius: 25px;
  height: 600px;
  padding-top: 10px;
}

.box {
  margin: 30px 70px;
  height: 120px;
  width: 550px;
  background-color: white;
  overflow-wrap: break-word;
  border-radius: 10px;
}

.box h3,
.box h4 {
  color: rgba(33, 33, 33, 0.8);
  margin-left: 8px;
  margin-top: 3px;
}

.delete-icon {
  margin-right: 5px;
}

.ex-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
}

.upcoming-heading h2 {
  color: rgba(33, 33, 33, 0.8);
  margin-left: 250px;
  margin-top: 50px;
}
